@model IEnumerable<GymDomain.Entities.Gym>
@{
    ViewData["Title"] = "Список залів";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Додати новий зал</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Розташування</th>
            <th>Місткість</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gym in Model)
        {
            <tr>
                <td>@gym.Name</td>
                <td>@gym.Location</td>
                <td>@gym.Capacity</td>
                <td>
                    <a asp-action="Details" asp-route-id="@gym.GymId" class="btn btn-info">Деталі</a>
                    <a asp-action="Edit" asp-route-id="@gym.GymId" class="btn btn-warning">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@gym.GymId" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
